
:root {
    --color-accent: hsl(47, 88%, 63%); /* Color acento */
    --color-muted: hsl(0, 0%, 42%);    /* Color gris para texto */
    --color-black: black;
}


.card{
    padding: 1.25rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 90%;
    margin: 0 auto;

}

.card_title{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.card_container{
    display: flex;
    flex-direction: column;
    
}

.card_image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card_avatar{
    width: 40px;
    height: 40px;
    margin:10px 10px 10px 0;
}


.card_link{
    font-weight: 800;
    font-size: 25px;
    margin: 15px 0 0 0;
    cursor:  pointer;
    text-decoration:none;
    color: var(--color-black);   
     
}

.card_link:hover{
    color: var(--color-accent) ; 
}
.card_date{
    color:  var(--color-muted);
    margin: 5px 0 0 0;
    font-size: 14px;
}

.card_text{
    margin: 15px 0;
    color: var(--color-muted);
}

.card_label{
    border-radius: 5px;
    padding:  5px 10px;
    background-color:hsl(47, 88%, 63%);
    margin: 5px 0;
    width: fit-content;
    font-size: 18px;

}

.card_footer{
    font-size:15px;
    display: flex;
    font-weight: 700;
   }