.card{
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 6px 6px 0px 0px #000;
    width: 350px;
}

.card_container{
    display: flex;
    flex-direction: column;
    
}

.card_image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card_avatar{
    width: 40px;
    height: 40px;
    margin:10px 10px 10px 0;
}


.card_link{
    font-weight: 800;
    font-size: 25px;
    margin: 5px 0 0 0;
    cursor:  pointer;
    text-decoration:none;
    color:hsl(47, 88%, 63%) ;
    
}
.card_date{
    color:  hsl(0, 0%, 42%);
    margin: 5px 0 0 0;
    font-size: 14px;
}

.card_text{
    margin: 15px 0;
    color: hsl(0, 0%, 42%);}

.card_label{
    border-radius: 5px;
    padding:  5px 10px;
    background-color:hsl(47, 88%, 63%);
    margin: 5px 0;
    width: fit-content;
    font-size: 18px;

}